body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.left.carousel-control,
.right.carousel-control {
    background-image: none;
    margin-top: 100px;
    margin-bottom: 100px;
}

.navbar-brand {
    background: url('../Content/images/logo.png');
    width: 215px;
    height: 55px;
}

.navbar-inverse {
    background-color: #f8965d;
    border-color: white;
}

.row-center {
    display: flex;
    align-items: center;
}
.img-produto-carrossel {
    width: 100%;
}

.img-produto-carrinho {
    height: 120px;
    filter: drop-shadow(2px 2px 2px #ccc);
}

.linha-produto {
    margin: 20px;
}

.produto-nome {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.produto-footer {
    max-height: 140px;
}

.produto-nome {
}
